<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538056277715-30urboqu47u9r6kcubf53l2j7n2q6sm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538056277715-30urboqu47u9r6kcubf53l2j7n2q6sm9</string>
	<key>API_KEY</key>
	<string>AIzaSyCwv0UMxfIGGhzfLpDb1tmEiuU8mTZGrOo</string>
	<key>GCM_SENDER_ID</key>
	<string>538056277715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduationProject</string>
	<key>PROJECT_ID</key>
	<string>online-pharmacy-ed15c</string>
	<key>STORAGE_BUCKET</key>
	<string>online-pharmacy-ed15c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538056277715:ios:c4a10930ccc129c5969e26</string>
</dict>
</plist>